/*
    Tudo que será usado várias vezes e em vários lugares no CSS, ficará aqui
    Esse será um arquivo GLOBAL do CSS
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");
:root {
    --cor-fundo: #f3fbe6;
    --cor-primaria: #c7f878;
    --cor-primaria-escura: #affc32;
    --cor-secundaria: #f2fbb0;
    --cor-secundaria-escura: #F5E27F;
    --cor-texto: #000;

    --fonte-texto: "Poppins", sans-serif;
}

* {
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--cor-texto);
}

body {
    background-color: var(--cor-fundo);
    background-image: url("../images//Polygons.png");
    background-repeat: no-repeat;
    background-position-y: 565px;
    background-position-x: 50px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    grid-gap: 23px;
    align-items: center;
}

.menu img {
    max-height: 90px;
}

.menu a {
    text-decoration: none;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.menu .menu_item:hover {
    background: var(--cor-secundaria);
}

.menu_ativo{
    background: var(--cor-secundaria);
}

.separator {
    font-size: 14px;
    color: #a8a8b3;
    display: flex;

    align-items: center;
}

.separator::before {
    content: "";
    flex: 1;
    height: 3px;
    background: #cbdd13;
    margin: 0 30vw;
}


.custom_text {
    background-color: var(--cor-secundaria);
    background-position: 50% 50%;
  
    background-size: cover;
}

.custom_text_darker {
    background-color: var(--cor-secundaria-escura);
    background-position: 50% 50%;
  
    background-size: cover;
}
  