/*
    Tudo que será usado várias vezes e em vários lugares no CSS, ficará aqui
    Esse será um arquivo GLOBAL do CSS
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");
:root {
    --cor-fundo: #f3fbe6;
    
    --cor-primaria: #c7f878;
    --cor-primaria-escura: #affc32;

    --cor-secundaria: #f2fbb0;
    --cor-secundaria-clara: #f3fabf;
    --cor-secundaria-escura: #f5e27f;

    --cor-texto: #000;

    --fonte-texto: "Poppins", sans-serif;
}

* {
    font-family: var(--fonte-texto);
  
    margin: 0;
    box-sizing: border-box;
    color: var(--cor-texto);
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}
body {
    /* max-width: 100vw;
    max-height: 100vw; */
    background-color: var(--cor-fundo);
    background-image: url("../images/Polygons.png");
    background-repeat: no-repeat;
    background-position-y: 565px;
    background-position-x: 50px;
 
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    grid-gap: 23px;
    align-items: center;
}
 .imagem {
    width: 241px;
    height: 97px;
    background-image: url("../images/lemon-logo.png");
    background-repeat: no-repeat;
}

.menu a {
    text-decoration: none;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}

.menu .menu_item:hover {
    background: var(--cor-secundaria);
}

.menu_ativo {
    background: var(--cor-secundaria);
}

.close_mobile_menu {
    display: none;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: none;
    font-size: 5em;
    z-index: 1000;
    border: none;
}

.separator {
    font-size: 14px;
    color: #a8a8b3;
    display: flex;

    align-items: center;
}

.separator::before {
    content: "";
    flex: 1;
    height: 3px;
    background: #cbdd13;
    margin: 0 30vw;
}

.separator_form {
	font-size: 25px;
	color: #000000;
	display: flex;
	animation: intro_separators 1.5s forwards;
	align-items: center;
}

.separator_form::before {
	content: "";
	flex: 1;
	height: 3px;
	background: #1f1f1f;
	margin: 0 2vw;
}
.separator_form::after {
	content: "";
	flex: 1;
	height: 3px;
	background: #1f1f1f;
	margin: 0 2vw;
}

.custom_text {
    background-color: var(--cor-secundaria);
    background-position: 50% 50%;

    background-size: cover;
}

.custom_text_darker {
    background-color: var(--cor-secundaria-escura);
    background-position: 50% 50%;

    background-size: cover;
}

.text_center {
    text-align: center;
}
.text_left {
    text-align: left;
}
.text_right {
    text-align: right;
}
.text_muted {
    color: #666;
    opacity: 0.5;
}

.text_warning {
    color: #ff6f6f;
}

.button {
    text-decoration: none;
    font-size: 36px;
    outline: none;
    border: none;
    color: white;
    background-color: #f5e27f;
    padding: 5px 70px;
    text-align: center;
    -webkit-box-shadow: -10px 5px 0px 3px rgba(245, 226, 127, 0.2);
    box-shadow: -5px 5px 0px 3px rgba(245, 226, 127, 0.2);
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .button:hover {
    transform: scale(1.02);
  }
  
  .redes_sociais{
	padding: 5px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.redes_sociais a{
	text-decoration: none;
}

.redes_sociais ul {
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: center;
	grid-gap: 1rem;
}


.redes_sociais .fa {
  padding: 20px;
  font-size: 30px;

  text-align: center;
  text-decoration: none;

}


.fa:hover {
  opacity: 0.7;
}



.fa-facebook {
  background: #3B5998;
  color: white;

}


.fa-whatsapp {
  background: #01e675;
  color: white;
}

.fa-instagram {
  background: #fa7901;
  color: white;
}
/*
Media Queries
*/
@media screen and (max-width: 855px) {
   
    .separator {
        display: none;
    }
    .menu {
        position: relative;
        width: 50px;
        height: 35px;
        cursor: pointer;
        pointer-events: all;
        border-radius: 3px;
    }

    .menu::before,
    .menu::after {
        content: "";
        display: inline-block;
        height: 2px;
        width: 70%;
        position: absolute;
        left: 15%;
        top: 50%;
        background-color: black;
        transition: transform 0.2s ease, top 0.2s ease;
        transform: rotate(0deg) translateY(-50%);
    }

    .menu::before {
        top: 30%;
    }
    .menu::after {
        top: 70%;
    }

    .menu:focus::before {
        top: 50%;
        transform: rotate(30deg) translateY(-50%);
    }
    .menu:focus-within::before {
        top: 50%;
        transform: rotate(30deg) translateY(-50%);
    }
    .menu:focus::after {
        top: 50%;

        transform: rotate(-30deg) translateY(-50%);
    }
    .menu:focus-within::after {
        top: 50%;

        transform: rotate(-30deg) translateY(-50%);
    }

    .menu ul {
        position: absolute;
        display: none;
        top: 100%;
        background-color: var(--cor-secundaria-escura);
        flex-direction: column;
        z-index: 100;
        border-radius: 3px;
        padding: 5px 0;
        box-shadow: 0px 0px 10px #222;
    }
    .menu li {
        margin: 0;
        padding: 10px;
    }

    .menu .imagem {
        background-image: url("../images/home.png");
        margin: 0 auto;
        height: 50px;
        width: 60px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
    }

    .menu a {
        display: block;
        text-align: center;
        min-width: 125px;
    }

    a:active {
        background: var(--cor-secundaria);
    }

    .menu:focus ul {
        display: flex;
    }
    .menu:focus-within ul {
        display: flex;
    }
    
    body {
        
        background-image: none;
      
    }
}

@media screen and (max-width: 600px) {
    
    .menu ul {
       top: 0;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
    .menu li {
        margin: 2vh 0;
    }

    .menu li a {
        font-size: 5vw;
        width: 50vw;
    }

   
   
}


