@import "default.css";
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 300px;

  grid-gap: 250px;
  grid-auto-rows: 700px;
  transition: all 0.5s;
}

.conteudo_esquerdo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 35px;
  flex-direction: column;
}

.conteudo_esquerdo .titulo {
  font-size: 36px;
  text-align: center;
  width: 350px;
  text-decoration-style: wavy;
}

.conteudo_esquerdo .descricao {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
}

.conteudo_direito {
  display: flex;

  justify-content: center;
  align-items: center;
}

.conteudo_direito ul {
  list-style-type: none;
  display: flex;
  grid-gap: 45px;
  flex-direction: column;
}

.conteudo_direito li {
  display: flex;

  background-color: white;
  padding: 0 5px;
  border-radius: 6px;
  -webkit-box-shadow: 4px 7px 14px 4px rgba(0, 0, 0, 0.32);
  box-shadow: 4px 7px 14px 4px rgba(0, 0, 0, 0.32);
  transition: all 0.5s;
}

.conteudo_direito li:hover {
  transform: scale(1.05);
}
.conteudo_direito li a {
  cursor: pointer;
}

.conteudo_direito img {
  width: 93px;
  height: 105px;
  transform: rotate(-10deg) scaleX(-1);
}

.item_ativo {
  border: 5px solid var(--cor-primaria-escura);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .sombra {
  display: flex;
  position: absolute;
}

section .tenis {
  transform: translateX(-100vh) scaleX(-1);
  overflow: hidden;
  z-index: -100;
  animation: intro 1s forwards;
  filter: drop-shadow(10px 25px 10px rgba(0, 0, 0, 0.6));
}

@keyframes intro {
  0% {
    opacity: 0;
    filter: drop-shadow(70px 25px 10px rgba(0, 0, 0, 0.6));
  }

  100% {
    opacity: 1;
    z-index: 1;
    transform: rotate(-20deg) scaleX(-1);
  }
}

section .sombra {
  z-index: -101;
  top: 450px;
}

.arrow {
  display: none;
  align-items: center;

  justify-content: space-between;
  z-index: 100;
}
/*
Media Queries
*/

@media (max-width: 1170px) {
  main {
    display: grid;
    margin-top: 65px;
    grid-template-columns: 1fr;

    grid-auto-rows: 200px;
  }

  section .tenis {
    justify-content: center;
    width: 70vw;
  }
  .conteudo_direito {
    display: none;
  }

  section .tenis {
    transform: translateX(-100vh) scaleX(-1);
    overflow: hidden;
    z-index: -100;
    animation: intro 1s forwards;

  }

  .conteudo_direito ul {
    flex-flow: row wrap;
  }

  .conteudo_esquerdo {
    width: 100vw;
  }

  section{
    justify-content: space-between;
    padding: 0 10px;
  }

  .arrow {
    display: flex;
  }

  section .sombra {
    width: 85vw;
    display: none;
  }


  @keyframes intro {
    0% {
      opacity: 0;
      filter: drop-shadow(70px 25px 10px rgba(0, 0, 0, 0.6));
    }
  
    100% {
      opacity: 1;
      z-index: 1;
      transform: rotate(-5deg) scaleX(-1);
    }
  }
}

@media screen and (max-width: 600px) {
}
