@import "default.css";

.container_produtos {
  display: grid;
  grid-template-areas: "description" "product" "item";
  grid-auto-flow: column;
  grid-template-rows: 50px 450px 200px;
  grid-template-columns: 1fr;
  margin: 50px 20%;
  background-color: var(--cor-secundaria);
  z-index: -100;

  overflow: hidden;
}

.card_produtos {
  display: flex;
  grid-area: item;
  align-items: center;
  margin: 35px 0;
  justify-content: center;
  grid-gap: 2rem;
  z-index: 1000;
}

.card_produtos ul {
  list-style-type: none;
  display: flex;
  grid-gap: 45px;
}

.card_produtos li {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0 5px;
  border-radius: 6px;
  -webkit-box-shadow: 4px 7px 14px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 7px 14px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.card_produtos li:hover {
  transform: scale(1.05);
}
.arrow {
  transition: all 1s;
}
.arrow img:hover {
  transform: scale(1.1);
}
.card_produtos li a {
  cursor: pointer;
}

.card_produtos li img {
  width: 93px;
  height: 90px;
  transform: rotate(-10deg) scaleX(-1);
}

.produto {
  grid-area: product;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  z-index: 100;
  animation: intro 1s forwards;
  cursor: pointer;
}

.produto .produto_img:hover {
  filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.6));
}
.item_ativo {
  border: 5px solid var(--cor-primaria-escura);
}
.produto .produto_img {
  transition: filter 0.3s ease-in-out;
  transform: rotate(-20deg) scaleX(-1);
  height: 500px;
  filter: drop-shadow(20px 10px 10px rgba(0, 0, 0, 0.6));
}

.sombra {
  position: absolute;
  transform: translateY(50%);
  z-index: -1;
}

.sombra img {
  width: 650px;
}
.produto_desciption {
  width: 550px;
  font-size: 35px;
  margin: 0 15px;
  animation: intro_description 1s alternate;
}
.produto_desciption .title {
  font-weight: 400;
}
.produto_desciption .description {
  font-weight: lighter;
}

/*
 Animações
*/

@keyframes intro {
  0% {
    opacity: 0;

    transform: translate(50%);
  }

  100% {
    opacity: 1;
    z-index: 1;
    transform: translate(0%);
  }
}
@keyframes intro_description {
  0% {
    opacity: 0;

    transform: translate(-70%);
  }

  100% {
    opacity: 1;
    z-index: 1;
    transform: translate(0%);
  }
}

/*
Media Queries
*/

@media screen and (max-width: 1450px) {
  .container_produtos {
    grid-template-rows: auto;
    grid-auto-rows: 380px;
  }

  .card_produtos {
    align-items: center;
    margin: 0;
    justify-content: center;
    grid-gap: 2rem;
    z-index: 1000;
  }

  .produto_desciption {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1143px) {
  .container_produtos {
    margin: 0;
  }
}
